*{
    margin: 0;
    padding: 0;
}
#root{
    color: white;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
}
p,a{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
}
header{
    background-color: rgba(255, 255, 255, 0.806);
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
header div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-grow: 1;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    flex-grow: 2;
}
nav li{
    margin-inline: 2rem;
}
nav a{
    color: black;
}
main{
    padding-bottom: 15rem;
}
footer{
    background-color: rgba(173, 216, 230, 0.356);
    height: 15rem;
    position:absolute;
    bottom: 0;
    width: 100%;
}
body{
    background-color: darkgray;
    background-size: 100vw;
    background-repeat: no-repeat;
}