#root{
    color: white;
}
header{
    background-color: rgba(0, 255, 255, 0.306);
}footer{
    background-color: rgba(173, 216, 230, 0.356);
}
body{
    background-image: url(assets/img/bybanen.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}